// Bootstrap dependencies - javascript and fonts must be copied manually!!
// font-awesome is included by site.scss
// Helpful: https://pikock.github.io/bootstrap-magic/app/index.html#!/editor

// Required for using Bootstrap mixins and functions
@use 'bootstrap/scss/functions' as *;
@use "bootstrap/scss/mixins" as *;

// Bootstrap overrides
//
// *************************************************************************************
// Be sure to include these variables in bootstrap-custom.scss when importing Bootstrap.
// *************************************************************************************

//
// Color system
//

$white: #F3F6F7;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #30405E;
$indigo: #00D7E2;
$purple: #180088;
$pink: #ED3F47;
$red: #f44336;
$orange: #ee8416;
$yellow: #ECB82B;
$green: #71944e;
$teal: #00E266;
$cyan: #88BFC3;

// Reassign standard theme color vars to semantic color scheme

$primary: $blue;
$secondary : $yellow;
$success: $green;
$info: tint-color($primary, 50%);
$warning: $orange;
$danger: $red;
$light: $gray-400;
$dark: $gray-800;
    
// Reassign color vars to semantic color scheme
$theme-colors: ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark );

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-link-active-bg: $primary;
$dropdown-link-hover-bg: shade-color($dropdown-link-active-bg, 20%);

// Headings
//
$headings-color: $secondary;


// Body
//
// Settings for the `<body>` element.
$body-bg: tint-color($secondary, 90%);
$body-color: $primary;


// Borders
$border-radius: 0.4rem;

// Links
//
// Style anchor elements.

$link-color: $red;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: underline;

// Forms

// $input-color: $primary;
// $input-focus-color: $primary;
$input-focus-bg: tint-color($secondary, 85%);
$input-bg: $gray-100;

// Navbar
//
// Navbar dark
$navbar-dark-color: rgba($secondary, 0.75);
$navbar-dark-hover-color: rgba($secondary, 0.9);
$navbar-dark-active-color: rgba($secondary, 1);
$navbar-dark-disabled-color: rgba($secondary, 0.25);
$navbar-dark-toggler-border-color: rgba($secondary, 0.75);

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-link-hover-bg: $secondary;
$dropdown-link-active-bg: tint-color($secondary, 40%);
$dropdown-link-active-color: $primary;
$dropdown-link-color: $primary;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-item-padding-x: .75rem;
$dropdown-bg: $body-bg;

// Tables
//
$table-accent-bg: $body-bg;  // striped table background
$table-bg: $white;

// Alerts
//
// Define alert colors, border radius, and padding.
// $alert-bg-scale: -80% !default;
$alert-border-scale: -50%; // default = -70%;
//$alert-color-scale: 40% !default;
