@model ClubSite.Models.BlogPostAlertBlock?
@{
    if (Model is null || Model.MaxDaysSincePublication?.Value is null || Model.MaxDaysSincePublication.Value.Value < 1 || Model.MaxDaysSincePublication.Value.Value > 30) return;
}
<div id="content" class="container-fluid rounded">
    <div class="d-flex flex-row">
        <div class="pb-3">
            <i class="fas fa-comment fa-2x" style="color:red"></i><h3 class="h3 d-inline">@Model.Description</h3>
            @Html.Raw(Model.Post?.Title)
        </div>
    </div>
</div>
