@model ClubSite.Models.PersonProfileBlock?
@{ if (Model is null || Model.Contact?.Value.Length < 10) return; }
<h3 class="h3">@Model.Title</h3>
<div id="content" class="container-fluid rounded">
    <div class="d-flex flex-row">
        <div class="p-2">
            @if (Model.Photo is null || !Model.Photo.HasValue)
            {
                <img src="@Url.Content("~/assets/svg/user-thin.svg")" width="150" alt="Platzhalterbild"/>
            }
            else
            {
                <img src="@Url.Content(WebApp.Media.ResizeImage(Model.Photo, 150))" alt="Foto"/>
            }
        </div>
        <div class="p-2">
            @Html.Raw(Model.Contact)
        </div>
    </div>
</div>
