@page "/kontakt/nachricht-erhalten"
@model ClubSite.Pages.Contact_ConfirmationModel
@{
    ViewData["Title"] = "Nachricht erhalten";
}
<div class="container py-2">
    <h3 class="h3">Danke für die Nachricht</h3>
    <p>Wir melden uns schnellstmöglich.</p>
</div>
