@page "/kontakt/nachricht-erhalten"
@model ClubSite.Pages.Contact_ConfirmationModel
@{
    ViewData["Title"] = "Nachricht erhalten";
}
<div class="mx-3 py-2">
    <h3 class="h3">Danke für die Nachricht</h3>
    <p>Wir melden uns in Kürze.</p>
</div>