@import './../bs_custom';
.block {
    padding: 0 0 1.5rem;

    img {
        border-radius: .25rem;
    }

    & p:last-child {
        margin-bottom: 0 // don't mess up margin with paragraph
    }

    &.column-block {
        .col-md:not(:last-child) {
            margin-bottom: 0;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    // Small devices
    @media (max-width: 768px) {
        &.column-block {
            .col-md:not(:last-child) {
                margin-bottom: 1.5rem; //next column element will go to new line
            }
        }
    }

    &.image-gallery-block {
        .carousel {
            border-radius: .25rem;
            overflow: hidden;
        }
    }

    &.separator-block {
        padding: 0 0 .5rem
    }

    &.new-posts-block {
        padding: 0;
        margin: 0;

        article h3 {
            font-size: 1.5rem !important;
        }
    }
}