@import './../bs_custom';

body {
    padding-top: 3.25rem;
}

.main {
    background-color: #fff;
}

main {  // needed!
    padding: 2rem 0;
}
img {
    max-width: 100%;
}

.navbar .clubname {
    color: $yellow;
}

/*a {
    color: #f94c3b;
    transition: all .2s ease-in-out;

    &:hover {
        color: darken(#f94c3b, 10%);
    }
}*/