header {
    background-position: center top;
    background-size: cover;
    position: relative;

    .container {
        padding-top: 7rem;
        padding-bottom: 7rem;
        position: relative;
    }

    h1 {
        font-size: 2.5rem;
        text-transform: none;
    }

    .lead {
        font-size: 1.35rem;
    }

    &.has-image {
        color: #eee;
        text-shadow: 1px 1px 1px rgba(0,0,0,.15);

        .dimmer {
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .45;
        }
    }
}