@import './../bs_custom';

body {
    font-family: Lato,sans-serif;
    font-size: 1.2rem;
    padding-top: 3.25rem;
    padding-left: 5px;
    padding-right: 5px;
    width: 1250px;
    max-width: 100vw;
    margin: 0 auto;
}
.fixed-top { // navbar
    max-width: 1250px; // same as body!
    margin: 0 auto; // same as body!
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway,sans-serif;
}
article > header {  // blog teasers
    background-color: $gray-100;
}
blockquote {
    color: #999;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 3rem auto;
    width: 80%;
}

.navbar-brand {
    small {
        font-family: Lato,sans-serif;
        font-size: 75%;
        font-weight: 400;
        margin-left: .5rem;
    }
}
.lead {
    font-size: 1.2rem;
    font-weight: 400;
}

hr {
    border: 2px solid theme-color("secondary");
}

.edit-icon {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:white' d='M984.1,122.3C946.5,84.5,911.4,42.1,867.8,11c-40-8.3-59.2,34.9-86.7,55.1c46.4,53.9,100.5,101.5,150.4,152.5C954.1,191.7,1007.7,164.1,984.1,122.3z M959.3,325.9c-31.7,31.8-64.5,62.8-95.1,95.8c-0.8,127.5,0.3,255-0.4,382.6c-0.6,47-41.8,88.7-88.8,90.3c-193.4,0.8-387,0.8-580.4,0.1c-52.2-1.4-94-51.4-89.9-102.7c-0.1-184.6-0.1-369.1,0-553.5c-4-51.1,38-100.3,89.6-102.1c128.1-1.7,256.3,0.1,384.3-0.9c33.2-30,63.9-62.9,95.7-94.5c-170.6,0-341-0.9-511.6,0.5c-79.6,1.4-151,71-152.4,151C10.1,407.7,9.5,622.8,10.7,838c0.3,77.5,66.1,144.7,142.4,152h670.2c72.3-12.7,134.3-75.8,135.2-150.9C960.7,668.1,959,496.9,959.3,325.9z M908.2,242.2C858,191.7,807.4,141.5,756.6,91.5C645.4,201.9,534,312,423.4,423c50.1,50.4,100.4,100.6,151.3,150.3C686,463.1,797.2,352.6,908.2,242.2z M341.2,654.6c68.1-18.5,104.4-30.2,172.5-48.5c18.2-5.8,30.3-9.3,39.7-13c-48.2-45.9-103.6-102.5-151.7-148.8C381.4,514.4,361.4,584.5,341.2,654.6z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

/**************************************************************
* START: Override Bootstrap
**************************************************************/

.form-control {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

label {
    //font-size: 1rem;
    font-weight: normal;
    color: theme-color("primary");
    background-color: transparent;
    margin-top: .75rem;
    margin-bottom: .25rem;
    display: block;
}

/**************************************************************
* END: Override Bootstrap
**************************************************************/

.validation-summary-errors {
    margin: 13px 0;
    padding: 10px 10px 10px 10px;

    & ul {
        padding-left: 1rem !important;
        margin-bottom: 0 !important;
    }

    & div:first-of-type {
        margin-left: 1rem !important;
    }
}

// class "validation-summary-valid" is set programmatically for "no errors"
.validation-summary-valid {
    display: none !important;
}
